<%- include('partials/header') %>
<body>
    <%- include('aboutUs/div1') %>
    <%- include('aboutUs/div2') %>
    <%- include('aboutUs/div3') %>
    <%- include('aboutUs/div4') %>
    <%- include('aboutUs/div5') %>
</body>
<%- include('partials/footer') %>