<%- include('partials/header') %>
<body>
    <%- include('businessEnquiry/div1') %>
    <%- include('businessEnquiry/div2') %>
    <%- include('businessEnquiry/div3') %>
</body>
<%- include('partials/footer') %>