<%- include('partials/header') %>
<body>
    <%- include('careSolutions/div1') %>
    <%- include('careSolutions/div2') %>
    <%- include('careSolutions/div3') %>
    <%- include('careSolutions/div4') %>
    <%- include('careSolutions/div5') %>
    <%- include('careSolutions/div6') %>
    <%- include('careSolutions/div7') %>
    <%- include('careSolutions/div8') %>
</body>
<%- include('partials/footer') %>