<%- include('partials/header') %>
<body>
    <div class="v1-absolute">
        <div class="v1-absolute-nav1">Home</div>
        <div class="v1-absolute-nav2">About us</div>
        <div class="v1-absolute-nav3">Care Solutions</div>
        <div class="v1-absolute-nav4">Staffing Solutions</div>
        <div class="v1-absolute-nav5">Business Enquiry</div>
        <div class="v1-absolute-nav6">Contact us</div>
    </div>
    <%- include('contact/div1') %>
    <%- include('contact/div2') %>
    <%- include('contact/div3') %>
    <%- include('contact/div4') %>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
</body>
<%- include('partials/footer') %>