<%- include('partials/header') %>
<body>
    <%- include('mainPage/div1') %>
    <%- include('mainPage/div2') %>
    <%- include('mainPage/div3') %>
    <%- include('mainPage/div4') %>
    <%- include('mainPage/div5') %>
    <%- include('mainPage/div6') %>
    <%- include('mainPage/div7') %>
</body>
<%- include('partials/footer') %>