<%- include('partials/header') %>
<body>
    <div class="v1-absolute">
        <div class="v1-absolute-nav1">Home</div>
        <div class="v1-absolute-nav2">About us</div>
        <div class="v1-absolute-nav3">Care Solutions</div>
        <div class="v1-absolute-nav4">Staffing Solutions</div>
        <div class="v1-absolute-nav5">Business Enquiry</div>
        <div class="v1-absolute-nav6">Contact us</div>
    </div>
    <%- include('mainPage/div1') %>
    <%- include('mainPage/div2') %>
    <%- include('mainPage/div3') %>
    <%- include('mainPage/div4') %>
    <%- include('mainPage/div5') %>
    <%- include('mainPage/div6') %>
    <%- include('mainPage/div7') %>
</body>
<%- include('partials/footer') %>