<%- include('partials/header') %>
<body>
    <%- include('staffingSolutions/div1') %>
    <%- include('staffingSolutions/div2') %>
    <%- include('staffingSolutions/div3') %>
    <%- include('staffingSolutions/div4') %>
    <%- include('staffingSolutions/div6') %>
    <%- include('staffingSolutions/div7') %>
    <%- include('staffingSolutions/div5') %>
</body>
<%- include('partials/footer') %>